<?xml version="1.0"?>
<configuration>
    <system.web>
         <staticContent>
         <mimeMap fileExtension=".hiro" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".json" mimeType="application/octet-stream" />
      </staticContent>
    </system.webServer>
</configuration>